<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->


    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">



</head>

<body>

    {{!-- Start of Report --}}


    {{!-- Post form for Date Picker --}}
    <form id="post_form" method="GET" action="">
        <div class="date-picker">
            <h3>Date</h3>
            <input placeholder="Initial date" type="text" class="date startdate"> -
            <input placeholder="End date" type="text" class="date enddate">
        </div>

        {{!-- Button to save the Report --}}
        <button id="bt1" type="submit" class="btn btn-danger">Click to Get Reports</button>
        <button id="bt2" type="submit" class="btn btn-danger clear-table">Clear</button>
    </form>



    {{!-- End of Report --}}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>


    <script>

        // Runs date picker plugin
        $('input.date').datepicker();

        // Gets data
        /*var data;
        fetch('/reportSaver', {
            // data: dates,
            method: 'POST'
        }).then(function (response) {
            return response.json();
        }).then(function (json) {
            data = json;
        });*/

        // Form submit
        $('form').on('submit', function (event) {
            event.preventDefault();

            var dates = {
                startdate: new Date($('.startdate').val()),
                enddate: new Date($('.enddate').val())
            };

            
            fetch(`/reportSaver?startdate=${dates.startdate}&enddate=${dates.enddate}`, {
                // data: dates,
                method: 'POST'
            }).then(function (response) {
                return response.json();
            }).then(function (json) {
                const data = json;

                // Minimum validation for dates
                if ((dates.startdate && dates.startdate > dates.enddate) ||
                    (dates.enddate && dates.enddate < dates.startdate)) {
                    return alert('Use valid dates!');
                }

                // Filter rows
                var rows = data.filter(function (register) {
                    var date = new Date(register.receivedDateTime);

                    return (
                        (!dates.startdate || date > dates.startdate) &&
                        (!dates.enddate || date < dates.enddate)
                    );
                    // Convert to HTML
                }).map(function (row) {
                    /*                        {{!-- <td>&nbsp;</td> --}}
                                            {{!-- getting undefined for the from --}}*/
                    return `
                        <tr>
                            <td>${row.from}</td>
                            <td>${row.name || '-'}</td>
                            <td>${row.subject || '-'}</td>
                            <td>${row.receivedDateTime || '-'}</td>
                            <td>${row.isRead || '-'}</td>
                            <td>${row.sentDateTime || '-'}</td>
                        </tr>
                    `;
                });

                let $table = $('table tbody');

                if (!$table.length) {
                    $table = $('<table><tbody></tbody></table>').appendTo('body')
                }

                // Show content
                $table.html(rows.join(''));
            });
        });

        // Clear click
        $('.clear-table').on('click', function () {
            // Clears table
            $('table tbody').html('<tr><td colspan="5">Make a search</td></tr>');

            // Clears inputs
            $('input').val('');
        });
    </script>

</body>

</html>