<div class="jumbotron">
  <h1>Outlook Express</h1>
  <p class="lead">This Application will allow you to generate a Metric Report</p>
  {{#if user}}
  <p>Welcome {{user}}!</p>
  {{else}}
  <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}
</div>