{{#if user}}
<div class="jumbotron container" style="text-align:center height:100px">
    <p>Welcome {{user}}!</p>
  </div>
  <footer id="footer">
  <p>SERA faculty assessement, Copyright &copy; 2019</p>
</footer>
{{else}}

{{/if}}
