<div class="jumbotron" style="text-align:center">
  <h2>Personal assessement at your finger tips</h2>

  
  
  <hr>

  {{#if user}}
  <p>Welcome {{user}}!</p>
  {{else}}
  <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}



</div>